/* SELECTORES */

/* 
  Selectores Simples
    Selectores elementales
      Selector universal -> *
      Selector de tipo o etiqueta -> Nombre de la etiqueta
    Selectores de atributo
      id -> id del elemento
      clase -> clase del elemento
      otros atributos
        [atributo]
        [atributo=valor] -> seleccionar el atributo cuyo valor es exactamente la palabra
        [atributo^=valor] -> seleccionar el atributo cuyo el valor del atributo inicia con la palbra especificada
        [atributo*=valor] -> seleccionar el aatributo cuyo el valor del atributo contiene la palabra especificada
        [atributo$=valor] ->  seleccionar el atributo cuyo el valor del atributo termina con la palabra especificada
        [atributo|=valor] -> seleccionar el atributo cuyo valor empieza con (la palabra especificada o la palabra especificada más un guión)
  Selectores compuestos
    Selectores agrupados -> se agrupan los selectores
    Selectores combinadores
      Selector descendiente -> seleciona los hijos de un elemento sin importar en que subnivel se encuentren.
      Selector de hijo directo -> selecciona solo los hijos directos. Es decir, los que se encuentran en el subnivel más cercano al elemento.
      Selector de hermano siguiente directo + -> selecciona el hermano siguiente directo que se encuentra al mismo nivel, que coincide con la selección
      Selector de hermanos siguientes ~ > selecciona todos los hermanos siguientes (no necesariamente directos) que se encuentran al mismo nivel, que coinciden con la selección
    Pseudoclases - Pseudoelementos
*/

/* 
Selector universal
* {
  background-color: lightcoral;
}

Selectores de tipo o etiqueta
h1 {
  background-color: lightcyan;
}

p {
  background-color: lightgreen;
}

ul {
  background-color: red;
}

li {
  background-color: blue;
} 
*/

/* 
Selectores de id
#title {
  background-color: green;
}

h2#title {
  background-color: green;
}

Selectores de clase
.title {
  background-color: lightsalmon;
}

.text {
  background-color: limegreen;
}

p.text {
  background-color: limegreen;
}
*/

/*
Selectores de atributo
[href] {
  background-color: mediumorchid;
}

[href="https://google.com"] {
  background-color: orangered;
}

[href^="color"] {
  background-color: yellow;
}

[href*="modo"] {
  background-color: green;
}

[href$="azul"] {
  background-color: steelblue;
}

[lang|="en"] {
  background-color: magenta;
} 
*/

/*
Selectores agrupados
.text,
.text-2,
.text-3,
.text-4 {
  background-color: steelblue;
}
*/

/*
Selectores descendientes
div h2 {
  background-color: red;
}
*/

/*
Selector de hijo directo
.container > p {
  background-color: tomato;
}
*/

/*
Selector de hermano siguiente
.title-2 + .text-3 {
  background-color: red;
}
*/

/*
Selectores de hermanos siguientes
.text-2 ~ p {
  background-color: teal;
}
*/





