/*
  Text-align: es la propiedad que nos permite alinear horizontalmente el contenido de un elemento de bloque.
  El contenido del elemento a alinear debe ser un elemento de línea. O en todo caso si el elemento hijo es un
  elemento de bloque, este a de heredar el valor del text-align, de forma que pueda ya se pueda centrar el contenido 
  del elemento de bloque hijo.

  Acepta 4 posibles valores:
    text-align: left; -> Alinea el contenido a la izquierda
    text-align: right; -> Alinea el contenido a la derecha
    text-align: center; Alinea el contenido al centro
    text-align: justify; -> Alinea el contenido de forma justificada. Nos es recomendable usarlo.

  La imagen por defecto tiene el display como inline-block, por lo que el text-align no funciona en este.
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  color: #fff;
}

.text {
  text-align: left;
}

.box {
  background-color: #666;
  width: 100px;
  padding: 10px 0;
  margin: 20px 0;
  border: 2px solid lightcoral;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: inherit;
  background-color: #679;
  width: 150px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.img1 {
  background-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img2-box {
  text-align: center;
}