/*
  z-index -> Es la propiedad que nos permite ordenar los elementos superpuestos para controlar cual se coloca por
  delante y cual por detrás.

  * Para utilizar esta propiedad el elemento debe estar posicionado.
  * Poner z-index: auto; , es lo mismo que no poner nada, puesto que es el valor por defecto.
  * A la hora de dar valores al z-index, es recomendable pasar número grandes, para tener un amplio rango de números
  con los cuales jugar en caso necesitara que un nuevo elemento se encuentre por debajo o encima de uno existente.

  Si deseas que un elemento hijo se coloque detrás de su elemento contenedor padre, debes hacer dos cosas:
    * el elemento hijo debe tener declarado el atributo z-index con un valor negativo
    * el elemento padre no debe tener declarado el atributo z-index.

*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
}

.container {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  position: relative;
}

.box {
  text-align: center;
  width: 100px;
  height: 100px;
}

.box-1 {
  background-color: lightcoral;
  position: relative;
  left: 150px;
  z-index: -1;
}

.box-1-2 {
  background-color: aquamarine;
  position: relative;
  left: 150px;
  top: -25px;
  z-index: -2;
}

.box-2 {
  background-color: greenyellow;
  position: relative;
  top: 50px;
  z-index: 20;
}

.box-3 {
  background-color: aquamarine;
  position: relative;
  z-index: 10;
}
